.blog {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 72px;
  padding-bottom: 32px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.date {
  font-style: italic;
  margin-bottom: 32px;
}

.title {
  font-size: 48px;
  margin-bottom: 16px;
}

.text {
  line-height: 21px;
}

.text :global(img) {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.text :global(p) {
  margin-bottom: 1.5rem;
}